$xs: 0;
$sm: 375px;
$xl: 1366px;

$primary: #14203a;
$secondary: white;

$mobile-logo-height: 65px;
$desktop-logo-height: 100px;

$button-mobile-sm: 90px;
$button-mobile-xl: 110px;

$button-desktop-sm: 140px;
$button-desktop-xl: 260px;