$theme-colors: (
  'primary': hsl(229, 25%, 31%),
  'secondary': white,
);

@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import 'node_modules/bootstrap-vue/src/index.scss';

#app{
    width: 100vw;
    height: 100vh;
    background-image: radial-gradient(at top, hsl(214, 47%, 23%), hsl(237, 49%, 15%));
    color: white;
}

@import 'font';
@import 'pages/homepage';